.idea/
__pycache__/
*.py[cod]
logs/
plots_tests/
venv/
.tox/
.cache/

docs/_build/
docs/_generated/

*.egg-info/
.eggs/
build/
dist/

# Notebooks
*.ipynb
.ipynb_checkpoints/
notebooks/
notebooks/plots/*.png
notebooks/plots/*.pdf
notebooks/logs/

unused/
src/lfkit/_version.py
.DS_Store